@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html,body{
  display: grid;
  background: #E5E5E5;
   font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  background-color: #e5e5e5;
}

.navbar {
  background-color: #5D7DCF;
  height: 120px;
}

.nav .navbar-text{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.navbar .navbar-text {
  text-align: center;
  font-size: 30px;
  color: #ffff;
  font-weight: bold;
}

.logo{
    margin-top: -8px;
    margin-left: -20px;
}

.login-div {
	margin: 70px auto;
	width: 566px;
	background-color: #fff;
	padding: 60px;
  border-radius: 5px;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
}

.form {
	width: 100%;
	margin-top: 30px;
}
.form .input {
	font-size: 18px;
	padding: 10px 20px 10px 5px;
	border: none;
	outline: none;
	background: none;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}

.username, .password {
	display: block;
	border: 1px solid rgba(0, 0, 0, 0.2);
	padding: 5px;
	margin: 10 0;
	margin-bottom: 15px;
}
.user-name .pass-name {
  margin-bottom: 20px;
}

.form svg {
	height: 25px;
	margin-bottom: -5px;
	margin-left: 10px;
	margin-right: 5px;
}

.password-hit {
  position: relative;
  left: 80px;
}

.input::placeholder {
  color: #DEDADA;
  font-size: 15px;
}

.options {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0px 0px 0px 300px;
	margin-bottom: 30px;
}

.button-btn .signin-btn {
	width: 210px;
	padding: 12px 10px;
	border: none;
	font-size: 16px;
	border-radius: 30px;
	background-color: #5D7DCF;
	color: #fff;
	margin-bottom: 5px;
  margin-left: 110px;
  font-weight: bold;
}

#wrapper {
  display: flex;
}

#wrapper #content-wrapper {
  background-color: #f8f9fc;
  width: 100%;
  overflow-x: hidden;
}

#wrapper #content-wrapper #content {
  flex: 1 0 auto;
}
.bg-gradient-primary {
  background-color: #4e73df;
  background-image: linear-gradient(180deg, #4e73df 10%, #224abe 100%);
  background-size: cover;
}

.bg-gradient-secondary {
  background-color: #858796;
  background-image: linear-gradient(180deg, #858796 10%, #60616f 100%);
  background-size: cover;
}

.bg-gradient-success {
  background-color: #1cc88a;
  background-image: linear-gradient(180deg, #1cc88a 10%, #13855c 100%);
  background-size: cover;
}

.bg-gradient-info {
  background-color: #36b9cc;
  background-image: linear-gradient(180deg, #36b9cc 10%, #258391 100%);
  background-size: cover;
}

.bg-gradient-warning {
  background-color: #f6c23e;
  background-image: linear-gradient(180deg, #f6c23e 10%, #dda20a 100%);
  background-size: cover;
}

.bg-gradient-danger {
  background-color: #e74a3b;
  background-image: linear-gradient(180deg, #e74a3b 10%, #be2617 100%);
  background-size: cover;
}

.bg-gradient-light {
  background-color: #f8f9fc;
  background-image: linear-gradient(180deg, #f8f9fc 10%, #c2cbe5 100%);
  background-size: cover;
}

.bg-gradient-dark {
  background-color: #5a5c69;
  background-image: linear-gradient(180deg, #5a5c69 10%, #373840 100%);
  background-size: cover;
}

.mfp-fade.mfp-bg {
  opacity: 0;

  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}

.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;

  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}